.header {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  margin-bottom: 12px;
}

.nav {
  display: flex;
  gap: 40px;
  width: fit-content;
  border-radius: 8px;
  box-shadow: 0px 2px 10px 7px white;
  justify-content: center;
  padding: 12px;
  background-color: #234377;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.active {
  text-decoration: underline;
  color: white;
  font-size: 24px;
}
