.header {
  background-color: rgb(45, 74, 45);
  border-bottom: 1px solid black;
}

.nav {
  display: flex;
  gap: 24px;
}
a {
  color: black;
}
.active {
  font-weight: bold;
  text-decoration: underline;
  color: white;
}
