.container {
  padding: 20px;
}
.form {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}
.input {
  flex-grow: 1;
  padding: 12px;
  font-size: 18px;
}
.button {
  padding: 8px 24px;
  background-color: white;
  color: #234377;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #234377;
    border: 1px solid white;
    color: white;
  }
}

.error {
  color: red;
  font-weight: bold;
}
