.movies_list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 12px;
}

.movies_item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.movies_link {
  color: black;
  text-decoration: none;
  text-shadow: 0px 0px 4px whitesmoke;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}
img {
  width: 350px;
  height: 450px;
  max-width: 100%;
  border-radius: 4px;
}
