.container {
  text-align: center;
  padding: 50px;
}
.notfoundtitle {
  font-size: 48px;
  color: #ff6347;
}
.notfoundtext {
  font-size: 18px;
  margin: 20px 0;
}
.notfoundlink {
  font-size: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}
